body{
    background-color: #151515;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

.cabecalho{
    background-image: url('../img/imagem__cabeçalho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.logo{
    font-family: 'Playfair Display', serif;
    color: #e7e7e7;
    margin: 0;
    padding-top: 4%;
    padding-left: 4%;
    font-size: 40px;
}

.info-container{
    background-color: #151515;
    width: 777px;
    height: 333px;
    margin-top: 13%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    padding-left: 7%;
    
}

.yellow{
    width: 9px;
    height: 215px;
    background-color: #f2d17a;
}

.text h3{
    font-family: 'Playfair Display', serif;
    color: #e7e7e7;
    font-size: 60px;
    padding-right: 8%;
    padding-left: 8%;
    
}

.text p{
    font-family: 'Playfair Display', serif;
    color: #e7e7e7;
    font-size: 30px;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;

}

.tour{
    display: flex;
    
    padding-top: 10%;
    padding-bottom: 4%;
}

.tour_text{
    padding-left: 3%;
    width: 40%;
}

.tour_text h3{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #f2d17a;
}

.tour_text p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
    width: 78%;
    
}

.tour_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour_image-1{
    background-image: url('../img/image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 449px;
    width: 335px;
    margin-left: 2%;
}

.tour_image-2{
    background-image: url('../img/image-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 449px;
    width: 335px;
    margin-left: 2%;
}

.back2{
    background-image: url('../img/back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100vw;
}